<% if flash[:notice] %>
  <div id="flash" class="container-sm alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:notice] %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if flash[:alert] %>
  <div id="flash" class="container-sm alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:alert] %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>