<% content_for :title, "Users" %>
<h1>Users</h1>

<div id="users">
  <table class = "table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% @users.each do |user| %>
      <tbody><%= render user %></tbody>
    <% end %>
  </table>
</div>
